@media (min-width: 100em)
{
    html
    {
        font-size: 125%; 
    }
}
@media (max-width: 200em)
{
    html
    {
        font-size: 125%; 
    }
    img
    {
        width: 65rem;
    }
}

body
{
    /* background-color: blanchedalmond; */
    background-color: black;
}
img
{
  display: block; 
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  align-items: center;
}
article
{
    margin: 5rem; 
}
.top, .about
{
    /* color: #D9D9D9; */
    background-color: #D9D9D9;
    padding: 3rem;
    min-width: 200px;
    /* max-width: 500px; */
}
.contact
{
    color: #D9D9D9;
    background-color: #F7F7ED;
    padding: 3rem; 
}
#box 
{
    color: black; 
    background-color: #D9D9D9;
    padding: 1rem;
    margin: auto;
    /* width: 10px; 
    height: 5px; */
}

h1
{
    color: #F7F7ED; 
}
.contact h1
{
    color: black; 
}
h2
{
    color: white; 
}

button
{
    border-radius: 5px;
    width: 500px; 
    height: 500px; 
    padding: 5rem; 
    margin: 50px 100px 10px 100px; 
    font-size: 30px;
    align-items: center;
}
.button
{
    flex-wrap: wrap;
    flex: 2; 
    background-color: #D9D9D9;

}
nav
{
    background-color: #BCF1F7;
    font-size: 30px;
    display: flex;
    flex: 2;
    flex-flow: row-reverse wrap;
    padding: 1rem 2rem; 
    margin: 0 auto; 
    position: fixed;
    position: sticky;
    top: 0px; 
}
nav a
{
  color: #F7F7ED;
  margin: 0px 50px; 
}
.flex-article
{
  display: flex;
}
.flex-div
{
  
}
.logoFlex
{
    display:flex;
    flex: 1; 
    size: 2px;
}
.grid
{
    display: grid; 
}