h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
body
{
    padding: 2rem;
    background-color: #e8d7cf;
}
p
{
    margin: 2rem 0rem; 
}
legend
{
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
}
.flex-container
{
    display: flex;
    /* flex-flow: row wrap; */
    align-items: right;
    /* border-radius: 10%; */
    border-color: black;
    margin: 2rem; 
    width: 50%; 
    height: 80%; 
    flex-direction: column;
}
.flex-box
{
    display: flex; 
    /* flex-wrap: wrap; */
    flex-direction: row;
    border-color: black;
}
.flex-box2
{
    display: flex; 
    /* flex-wrap: wrap; */
    flex-direction: row;
    border-color: black;
}
.flex-box img
{
    width: 50%; 
    height: 50%; 
}
img
{
    width: 20%; 
    height: 20%;  
}
#item1
{
    flex-grow: 2;
    background-color: #e8d7cf;
    border-color: black;
}
#item2
{
    flex-grow: 2;
    background-color: #e8d7cf;
}
#item2 img
{
    width: 100px;
    height: 100px; 
    object-fit: cover;
    margin: 2px; 
}
#gym 
{
    /* border-radius: 10%; */
    border-color: aliceblue;
    /* display: flex;  */
    align-items: center;
}
#game1
{
    display: inline-flex;
    flex-direction: row;
}
#game2
{
    display: inline-flex;
    flex-direction: row;
}
#game3
{
    display: inline-flex;
    flex-direction: row;
}

.grab-info
{
    background-color: #e8d7cf;
    border: black;
}
.closing
{
    margin: 2rem;
    font-weight: bold;
}

#stats #toy #desserts #gym
{
    /* border-radius: 10%; */
    border-color: aliceblue;
}

#extra
{
    margin: 0rem 1.5rem;
}

#submit
{
    margin: 2rem 0rem;
}
