body
{
    background: beige;
}
article
{
    display: block;
    /*doens't always know how bit the width of the text will be*/
    /* display: inline; */
    background-color:antiquewhite;
    /* amount of space outside the object */
    /* margins are outside the object and padding is inside the object */
    
    /* same padding all around */
    padding: 10px; 

    /* first number is top and bottom, second number is left and right */
    /* padding: 50px 10px;  */

    /* top, right left, bottom - in a circle clockwise */
    /* padding: 50px 10px 100px 15px; */

    margin: 30px; 
}
.header
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#page-title
{
    font-family: 'Courier New', Courier, monospace;
    /* want to use em more than px because em is bigger than px */
    font-size: 2em;
}
a 
{
    display: block;
}