.top
{
    margin: 2rem;
    padding: 2rem;  
    align-items: center;
    font-size: 20px; 
} 

body
{
    background-color: #F7F7ED;
}
.dark-mode
{
    color: #F7F7ED; 
    background-color: black; 
}

.light-mode
{
    color: black; 
    background-color:#F7F7ED;
}

.info
{
    margin: 2rem; 
    padding: 5rem;
    background-color: #D9D9D9;
}
.manipulators
{
    padding: 2rem 5rem;
}
button
{
    border-radius: 2rem;
}
button:hover
{
    background-color: black;
    color: white; 
}
#second 
{
    padding: 2rem 0rem; 
}
#music
{
    position: absolute; 
    top: 70%; 
    left: 80%; 
    transform: translate(-50%, -50%);
}